.venv
.vscode
__pycache__
*.pyc
*.pyo
download/
model/artifacts/checkpoints/*.pt
model/artifacts/onnx/*.onnx
model/artifacts/espdl/*.espdl
model/data/calib/*
model/data/train/*
model/data/val/*
!model/data/calib/.gitkeep
!model/data/train/no_human/
!model/data/train/human/
!model/data/train/no_human/.gitkeep
!model/data/train/human/.gitkeep
!model/data/val/no_human/
!model/data/val/human/
!model/data/val/no_human/.gitkeep
!model/data/val/human/.gitkeep
*.jpg
*.jpeg
*.png
build/
dist/
build*
sdkconfig
sdkconfig.old
