# BT Configuration
CONFIG_BT_ENABLED=n
CONFIG_BT_CONTROLLER_ONLY=n
CONFIG_ESP_HOSTED_CP_BT=n

# P4-to-C6 frame receiver application.
CONFIG_ESP_HOSTED_EXTRA_EXAMPLES=y
CONFIG_EXAMPLE_PEER_DATA_TRANSFER=y
CONFIG_ESP_HOSTED_ENABLE_PEER_DATA_TRANSFER=y
CONFIG_ESP_HOSTED_MAX_CUSTOM_MSG_HANDLERS=3
CONFIG_C6_FRAME_HTTP_PORT=8081
CONFIG_C6_FRAME_MAX_JPEG_SIZE=196608

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

# OS
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_NVS_ENABLED=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y

#Disable enterprise support by default
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n

##
## Power Management
##
#CONFIG_PM_ENABLE=y
#CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
##
## BLE + Light Sleep: MANDATORY - Enable MAC BB power down
#CONFIG_ESP_PHY_MAC_BB_PD=y
## Without this: Light sleep will be disabled if BT is enabled
##
## Down digital peripherals in light sleep
#CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=y
##
#
## host power save - wake up
#CONFIG_ESP_HOSTED_HOST_POWER_SAVE_ENABLED=y
#CONFIG_ESP_HOSTED_UNLOAD_BUS_DRIVER_DURING_HOST_SLEEP=y
#CONFIG_ESP_HOSTED_LIGHT_SLEEP_ENABLE=y
#CONFIG_ESP_HOSTED_LIGHT_SLEEP_PERIPHERAL_POWERDOWN=y
#CONFIG_ESP_HOSTED_LIGHT_SLEEP_MIN_FREQ_MHZ=10

## Examples
#CONFIG_ESP_HOSTED_EXTRA_EXAMPLES=y
#CONFIG_ESP_HOSTED_COPROCESSOR_EXAMPLE_LIGHT_SLEEP=y
#
#CONFIG_ESP_HOST_DEV_BOARD_P4_C5_CORE=y
